* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 1080px) {
    html {
        font-size: 93.75%;
    }
}

@media (max-width: 720px) {
    html {
        font-size: 87.5%;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #121214;
    width: auto;
    height: auto;
}

.bg-img {
    background-image: url("https://raw.githubusercontent.com/Gustavo-SB/checkpoint-2-frontend/3dd214f72ac517d92eddfc7a5ba4427ad7a64051/img/Background_banner.svg");
    height: 100vh;
}

.modal-content {
    background: #121214;
    color: #e6e6e6;
}

.btn-close {
    background-color: #e6e6ee;
}

.p-5 label {
    color: black;
}

.text-muted {
    color: #e6e6e6 !important;
}

input .w-100 {
    color: #e6e6e6 !important;
}

.p-5 a .btn {
    background-color: #e6e6e6 !important;
}
