/* ****************** BODY ****************** */

body {
  font-family: 'Roboto', sans-serif;
  background: #121214;
  color: #e6e6e6;
  width: auto;
  height: auto;
}

div.stars {

  width: 100%;

  display: inline-flexbox;

  justify-content: start;

}



#mainSlider .carousel-inner,
#mainSlider .carousel-item {
  max-height: 90vh;
}

#mainSlider .carousel-caption {
  top: 50%;
}

main {
  width: 100%;
  max-width: 1080px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.card {
  background-color: #202024;
}

#iframe {
  background-color: transparent;
  border: none;
}

.card-header {
  background: transparent;
}

input.star {
  display: none;
}

#sinopse {
  text-align: justify;
}


label.star {

  float: left;

  padding: 10px;

  font-size: 30px;

  /* color: #4A148C; */
  color: white;

  transition: all .2s;

}



input.star:checked~label.star:before {

  content: '\f005';

  color: #FD4;

  transition: all .25s;

}


input.star-5:checked~label.star:before {

  color: #FE7;

  text-shadow: 0 0 20px #952;

}



input.star-5:checked~label.star:before {
  color: #F62;
}



label.star:hover {
  transform: rotate(-15deg) scale(1.3);
}



label.star:before {

  content: '\f006';

  font-family: FontAwesome;

}


@media (max-width: 375px) {
  div.stars {
    justify-content: flex-start;

  }

  label.star {

    float: left;

    padding: 10px;

    font-size: 15px;

    /* color: #4A148C; */
    color: white;

    transition: all .2s;

  }

}

/* ****************** HEADER ****************** */

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202024;
}

.container {
  width: 100%;
  max-width: 1080px;
}

.navbar {
  width: 100%;
  padding: 1rem 5rem;
}

#navbar {
  width: 100%;
  max-width: 100%;
}

#logo {
  width: 65px;
}

header a {
  text-decoration: none;
}

.navbar-toggler {
  background-color: #31BD5B;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  width: 100px;
  color: #e6e6e6;
  background-color: #31BD5B;
  border-radius: 4px;
  border: 3px solid transparent;
  transition: 0.2s;
}

.nav-item:hover {
  border: 3px solid #31BD5B;
  background-color: transparent;
  color: #e6e6e6;
}


/* ****************** FOOTER ****************** */


footer {
  width: 100%;
  display: flex;
  color: #e6e6e6;
  bottom: 0;
  justify-content: center;
  background: #202024;
}

.footer-container {
  width: 100%;
  max-width: 1080px;
}

.footer-content {
  width: 100%;
  height: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-card p {
  font-weight: bold;
}

.icon-button {
  padding: 20px;
  margin-top: -10px;
  background: transparent;
  border: none;
  transform: translateY(10px);

  transition: filter 0.2s;
  transition: transform 0.2s;
}

.icon-button:hover {
  filter: brightness(90%);
  cursor: pointer;
  transform: translateY(0);
}

.link {
  color: #e6e6e6;
  text-decoration: none;
}

.img-linkedin {
  width: 75px;
  height: 64px;
}

.footer-copyright {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .card .content-card {
    height: 180px;
  }

  .card:hover .img {
    transform: translateY(-160px);
  }
}

@media (max-width: 990px) {
  .navbar {
    position: relative;
  }

  .navbar-nav {
    margin: 1rem 0;
    flex-direction: row;
  }

  .nav-item {
    width: 100%;
    margin: 0 0.5rem;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 1rem 0;
  }

  #mainSlider .carousel-inner,
  #mainSlider .carousel-item {
    height: auto;
  }

  .main-btn {
    width: auto;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  #catalog-area .container .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #202024;
  }

  #catalog-area .container .row .col {
    width: 100%;
  }

  .card .content-card {
    height: 200px;
  }

  .card:hover .img {
    transform: translateY(-170px);
  }
}

@media (max-width: 425px) {

  main div #elenco {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .navbar {
    padding: 1.5rem;
  }

  .navbar-nav {
    margin: 1rem 0;
    flex-direction: column;
  }

  .nav-item {
    width: 100%;
    margin: 0.5rem 0;
  }

  #catalog-area .container .title-section {
    font-size: 30px;
  }

  #catalog-area .container .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #catalog-area .container .row .col {
    width: 100%;
  }

  .card {
    justify-content: center;
  }

  .card .content-card {
    height: 200px;
  }

  .footer-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .footer-card {
    margin: 1rem 0;
  }

  .icon-button {
    padding: 0 10px;
  }
}

@media (max-width: 375px) {

  .navbar-nav {
    margin: 1rem 0;
  }

  .nav-item {
    width: 100%;
    margin: 0.5rem 0;
  }

  #catalog-area .container .title-section {
    font-size: 30px;
  }

  #catalog-area .container .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #catalog-area .container .row .col {
    width: 100%;
  }

  .card {
    justify-content: center;
  }

  .card .content-card {
    height: 200px;
  }

  .card .img {
    position: relative;
    border-radius: 0 0 5px 5px;

    transition: 0.2s;
  }

  .card:hover .img {
    transform: none
  }

  .footer-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}