* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #121214;
  color: #e6e6e6;
  width: auto;
  height: auto;
}

h1,
h2,
h3,
span,
strong {
  font-weight: bold;
}

h5 {
  font-weight: normal;
}

header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background: #202024;
}

.header-container {
  width: 100%;
  max-width: 1080px;
  height: 100%;
}

.header-content {
  width: 100%;
  height: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-log img {
  width: 64px;
}

.logo {
  color: #e6e6e6;
  padding: 20px 0;
  width: 135px;
  height: 160px;
}

nav {
  width: 100%;
  max-width: 300px;
  margin-top: 1rem;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.nav-button {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: none;
  text-decoration: none;
  background-color: #31bd5b;
  color: #202024;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background 0.5s;
}

.nav-button:hover {
  border: 2px solid #31bd5b;
  background: transparent;
  cursor: pointer;
  color: white;
}

main {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  width: 100%;
  max-width: 425px;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.banner {
  width: 100%;
  max-width: 1080px;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.curiosities {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 100%;
  max-width: 300px;
  background-color: #202024;
  border-radius: 4px;
  margin: 20px 0;
  transform: translateY(10px);

  transition: transform 0.2s;
}

.card-img {
  width: 100%;
  height: 200px;
  background-color: #121214;
  border-radius: 4px 4px 0 0;
}

.card-title {
  padding: 10px 0;
  margin: 0 10px;
  color: #31bd5b;
}

.card-p {
  padding-bottom: 10px;
  margin: 0 10px;
  text-align: left;
}

.card-footer {
  width: 100%;
  height: 10px;

  background-color: #202024;
  border-radius: 0 0 4px 4px;

  transition: background-color 0.2s;
  transition: border-radius 0.2s;
}

.card:hover {
  transform: translateY(0);
}

.card:hover .card-footer {
  background-color: #31bd5b;
  border-radius: 0;
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-content {
  width: 100%;
  max-width: 1080px;
  height: 300px;
  padding: 20px 0;
}

footer {
  width: 100%;
  display: flex;
  bottom: 0;
  justify-content: center;
  background: #202024;
}

.footer-container {
  width: 100%;
  max-width: 1080px;
}

.footer-content {
  width: 100%;
  height: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-button {
  padding: 20px;
  margin-top: -10px;
  background: transparent;
  border: none;
  transform: translateY(10px);

  transition: filter 0.2s;
  transition: transform 0.2s;
}

.icon-button:hover {
  filter: brightness(90%);
  cursor: pointer;
  transform: translateY(0);
}

.link {
  color: #e6e6e6;
  text-decoration: none;
}

.img-linkedin {
  width: 75px;
  height: 64px;
}

.footer-copyright {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 426px) {
  .header-content {
    max-width: 1080px;
    padding: 0 20px;
    flex-direction: row;
    justify-content: space-between;
  }

  nav {
    max-width: 500px;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-button {
    max-width: 150px;
  }

  section {
    max-width: 1080px;
  }

  .curiosities {
    align-items: unset;
  }

  .curiosities-title {
    display: flex;
    flex-direction: column;
    margin: 0;
    color: #31bd5b;
  }

  .curiosities-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    justify-content: center;
    align-items: center;
  }

  .card {
    justify-content: center;
  }

  .video-title {
    width: 100%;
    text-align: start !important;
  }

  .video-content {
    height: 500px;
  }

  .footer-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;    
  }
}
